node-red/flows/hexarch-pre-execution-threshold-guard.json
[
    {
        "id": "tab_hexarch_preexec_guard",
        "type": "tab",
        "label": "Hexarch Pre-Execution Guard",
        "disabled": false,
        "info": "Inject -> /authorize -> Switch allow/deny -> continue or block"
    },
    {
        "id": "inj_guard_run",
        "type": "inject",
        "z": "tab_hexarch_preexec_guard",
        "name": "Run Guarded Flow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "fn_guard_set_vars"
            ]
        ]
    },
    {
        "id": "fn_guard_set_vars",
        "type": "function",
        "z": "tab_hexarch_preexec_guard",
        "name": "Set Vars",
        "func": "const baseUrl = env.get('HEXARCH_BASE_URL') || 'http://host.docker.internal:8099';\nconst token = env.get('HEXARCH_TOKEN') || 'dev-token';\n\nmsg.hexarch = {\n  baseUrl,\n  token,\n  actorId: 'node-red-user',\n};\n\nmsg.guard = {\n  resource: 'external-api',\n  provider_action: 'invoke',\n  request_count: 7,\n  threshold: 5,\n};\n\nmsg.downstream = {\n  message: 'guarded-execution',\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "fn_guard_build_authorize"
            ]
        ]
    },
    {
        "id": "fn_guard_build_authorize",
        "type": "function",
        "z": "tab_hexarch_preexec_guard",
        "name": "Build /authorize request",
        "func": "msg.method = 'POST';\nmsg.url = msg.hexarch.baseUrl + '/authorize';\nmsg.headers = {\n  Authorization: 'Bearer ' + msg.hexarch.token,\n  'X-Actor-Id': msg.hexarch.actorId,\n  'Content-Type': 'application/json',\n};\n\nmsg.payload = {\n  action: 'call_provider',\n  resource: { name: msg.guard.resource },\n  context: {\n    provider_action: msg.guard.provider_action,\n    request_count: msg.guard.request_count,\n    threshold: msg.guard.threshold,\n  },\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "http_guard_authorize"
            ]
        ]
    },
    {
        "id": "http_guard_authorize",
        "type": "http request",
        "z": "tab_hexarch_preexec_guard",
        "name": "POST /authorize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 140,
        "wires": [
            [
                "sw_guard_allowed"
            ]
        ]
    },
    {
        "id": "sw_guard_allowed",
        "type": "switch",
        "z": "tab_hexarch_preexec_guard",
        "name": "Allowed?",
        "property": "payload.allowed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "fn_guard_build_echo"
            ],
            [
                "fn_guard_blocked",
                "dbg_guard_denied"
            ]
        ]
    },
    {
        "id": "fn_guard_build_echo",
        "type": "function",
        "z": "tab_hexarch_preexec_guard",
        "name": "Build downstream request",
        "func": "msg.method = 'POST';\nmsg.url = msg.hexarch.baseUrl + '/echo';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n  message: msg.downstream.message,\n  metadata: {\n    orchestrator: 'node-red',\n    flow: 'hexarch-pre-execution-threshold-guard',\n    request_count: msg.guard.request_count,\n  },\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 90,
        "wires": [
            [
                "http_guard_echo"
            ]
        ]
    },
    {
        "id": "http_guard_echo",
        "type": "http request",
        "z": "tab_hexarch_preexec_guard",
        "name": "POST /echo (downstream)",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1520,
        "y": 90,
        "wires": [
            [
                "dbg_guard_allowed"
            ]
        ]
    },
    {
        "id": "fn_guard_blocked",
        "type": "function",
        "z": "tab_hexarch_preexec_guard",
        "name": "Blocked path",
        "func": "const reason = (msg.payload && msg.payload.reason) ? msg.payload.reason : 'denied';\nmsg.payload = {\n  blocked: true,\n  decision: 'DENY',\n  reason,\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 190,
        "wires": [
            [
                "dbg_guard_blocked"
            ]
        ]
    },
    {
        "id": "dbg_guard_allowed",
        "type": "debug",
        "z": "tab_hexarch_preexec_guard",
        "name": "Allowed continuation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1740,
        "y": 90,
        "wires": []
    },
    {
        "id": "dbg_guard_denied",
        "type": "debug",
        "z": "tab_hexarch_preexec_guard",
        "name": "Authorize denied",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.reason",
        "statusType": "msg",
        "x": 1270,
        "y": 240,
        "wires": []
    },
    {
        "id": "dbg_guard_blocked",
        "type": "debug",
        "z": "tab_hexarch_preexec_guard",
        "name": "Blocked execution",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1490,
        "y": 190,
        "wires": []
    }
]