examples/public-demos/flows/recursion-loop-prevention-node-red.json
[
    {
        "id": "tab_recursion_guard_demo",
        "type": "tab",
        "label": "Recursion Loop Prevention Demo",
        "disabled": false,
        "info": "Inject -> Split depth values -> /authorize -> allow/deny route"
    },
    {
        "id": "inj_recursion_run",
        "type": "inject",
        "z": "tab_recursion_guard_demo",
        "name": "Run Depth Sequence",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "fn_recursion_set_vars"
            ]
        ]
    },
    {
        "id": "fn_recursion_set_vars",
        "type": "function",
        "z": "tab_recursion_guard_demo",
        "name": "Set Sequence",
        "func": "const baseUrl = env.get('HEXARCH_BASE_URL') || 'http://host.docker.internal:8099';\nconst token = env.get('HEXARCH_TOKEN') || 'dev-token';\n\nmsg.hexarch = {\n  baseUrl,\n  token,\n  actorId: 'node-red-user',\n};\n\nmsg.resource = 'workflow-self-call';\nmsg.provider_action = 'invoke';\nmsg.depths = [1, 2, 3, 4, 5];\nmsg.payload = msg.depths;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "split_recursion_depths"
            ]
        ]
    },
    {
        "id": "split_recursion_depths",
        "type": "split",
        "z": "tab_recursion_guard_demo",
        "name": "Split Depths",
        "splt": "\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "fn_recursion_build_authorize"
            ]
        ]
    },
    {
        "id": "fn_recursion_build_authorize",
        "type": "function",
        "z": "tab_recursion_guard_demo",
        "name": "Build /authorize request",
        "func": "const depth = Number(msg.payload);\nmsg.current_depth = depth;\n\nmsg.method = 'POST';\nmsg.url = msg.hexarch.baseUrl + '/authorize';\nmsg.headers = {\n  Authorization: 'Bearer ' + msg.hexarch.token,\n  'X-Actor-Id': msg.hexarch.actorId,\n  'Content-Type': 'application/json',\n};\n\nmsg.payload = {\n  action: 'call_provider',\n  resource: { name: msg.resource },\n  context: {\n    provider_action: msg.provider_action,\n    recursion_depth: depth,\n    invocation_count: depth,\n  },\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "http_recursion_authorize"
            ]
        ]
    },
    {
        "id": "http_recursion_authorize",
        "type": "http request",
        "z": "tab_recursion_guard_demo",
        "name": "POST /authorize",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "sw_recursion_allowed"
            ]
        ]
    },
    {
        "id": "sw_recursion_allowed",
        "type": "switch",
        "z": "tab_recursion_guard_demo",
        "name": "Allowed?",
        "property": "payload.allowed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1240,
        "y": 140,
        "wires": [
            [
                "fn_recursion_continue"
            ],
            [
                "fn_recursion_blocked"
            ]
        ]
    },
    {
        "id": "fn_recursion_continue",
        "type": "function",
        "z": "tab_recursion_guard_demo",
        "name": "Allowed -> continue",
        "func": "msg.method = 'POST';\nmsg.url = msg.hexarch.baseUrl + '/echo';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n  message: 'depth-' + msg.current_depth,\n  metadata: {\n    demo: 'recursion-loop-prevention',\n    depth: msg.current_depth,\n    allowed: true,\n  },\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 100,
        "wires": [
            [
                "http_recursion_echo"
            ]
        ]
    },
    {
        "id": "http_recursion_echo",
        "type": "http request",
        "z": "tab_recursion_guard_demo",
        "name": "POST /echo",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1650,
        "y": 100,
        "wires": [
            [
                "dbg_recursion_allowed"
            ]
        ]
    },
    {
        "id": "fn_recursion_blocked",
        "type": "function",
        "z": "tab_recursion_guard_demo",
        "name": "Denied -> blocked",
        "func": "const reason = (msg.payload && msg.payload.reason) ? msg.payload.reason : 'denied';\nmsg.payload = {\n  blocked: true,\n  depth: msg.current_depth,\n  reason: reason,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "dbg_recursion_blocked"
            ]
        ]
    },
    {
        "id": "dbg_recursion_allowed",
        "type": "debug",
        "z": "tab_recursion_guard_demo",
        "name": "Allowed branch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1820,
        "y": 100,
        "wires": []
    },
    {
        "id": "dbg_recursion_blocked",
        "type": "debug",
        "z": "tab_recursion_guard_demo",
        "name": "Blocked branch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1640,
        "y": 180,
        "wires": []
    }
]